# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
# https://symfony.com/doc/current/configuration/secrets.html
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="mysql://admin:admin@db:3306/main_db?serverVersion=mariadb-11.2.2" # keep this!
###< doctrine/doctrine-bundle ###

###> lexik/jwt-authentication-bundle ###
# run php php bin/console lexik:jwt:generate-keypair in the backend directory
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=a_very_long_secure_random_string_123 # change
###< lexik/jwt-authentication-bundle ###

###> root-user-configuration ###
ROOT_USERNAME=root
ROOT_PASSWORD=root # change
ROOT_EMAIL=root@localhost
###< root-user-configuration ###
