{% if app.user %}
    <div class="pull-right">
        <ul class="nav navbar-nav">
                <li>
                    <a href="{{ path('logout') }}">
                        <i class="fa fa-sign-out fa-fw"></i>
                        Logout
                    </a>
                </li>
        </ul>
    </div>
{% endif %}
